body{
    background-color: rgb(170, 214, 216)
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: black;
    /* margin-inline-start: 5%; */
    /* padding: 35px; */
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: black;
    /* margin-inline-start: 5%; */
    /* padding: 50px; */
}
.piano{
    height: 280px;
    width: 400px;
    margin-inline-start: 30%;
    margin-top: 20px;
    /* margin-inline-end: 50%; */

}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-inline-start: 42%;
    background-color:  rgb(169, 109, 204);
    border-radius: 5px;
    padding: 15px;    
}


@media screen and (max-width: 600px) {
    button{

        margin-inline-start: 32%;
        
    }
    .piano{
        height: 300px;
        width: 305px;
        margin-inline-start: 8%;    
    }
    
  }