   body{
    background-image: url('../Assets/music.jpg');
    background-repeat:no-repeat; 
    background-size: 100%;
    /* height: 40%; */

  }

   .transition {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
   .container {
    position: relative;
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
  }
.dev-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
.dev-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%; 
    height: 800%;
    /* border-radius: 40%; */
   -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1; 
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
.dev-img .text {
    font-family: 'Open Sans';
    position: relative;
    z-index: -1;
    display: block;
    bottom: 90px;
    width: 100%;
    text-align: center;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
.dev-img:hover .img {
    -webkit-transform: 0px -30px 0.5;
    -moz-transform: 0px -30px 0.5;
    -ms-transform: 0px -30px 0.5;
    -o-transform: 0px -30px 0.5;
    transform: 0px -30px 0.5;
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 50%;
  }
.dev-img:hover .text {
    -webkit-transform: 0px 0px 2;
    -moz-transform: 0px 0px 2;
    -ms-transform: 0px 0px 2;
    -o-transform: 0px 0px 2;
    transform: 0px 0px 2;
    transform: translate(0px, 0px) scale(2);
    -webkit-transform: translate(0px, 0px) scale(2);
    -moz-transform: translate(0px, 0px) scale(2);
    -o-transform: translate(0px, 0px) scale(2);
    -ms-transform: translate(0px, 0px) scale(2);
  }   
  p{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  } 

  h2{
    font-size: 30px;
    font-family: 'Notable', sans-serif;
  }
  h3{
    font-size: 0px;
  }
  h4{
    text-align: center;
    font-size: 30px;
    font-family: 'Notable', sans-serif;
    
  }
  .contact .contactme .link{
    margin:10px auto;
    display:block;
  } 
  .mr-2{
    margin: 15px;
    padding: 15px;
    background-color: rgb(204, 151, 184);
  }
  .navbar{
    background-color: rgb(204, 151, 184)
  }
  .navbar-brand{
    font-size: 30px;
    font-variant-caps: all-small-caps;
  }
  .nav-link{
    font-size: 25px;
    font-variant-caps: all-small-caps;
    padding-top: 0.2px;
    margin-top: 0.2px;
  }
  .text1{
    display: inline-block;
    font-size: 15px;
    margin-top: 20%;
  }
  @media screen and (max-width: 600px) {
    .dev-img .img {
        width: 400px; 
        height: 800%;
        border-radius: 0px;
        /* margin-left: 20% */
      }
    .dev-img .text{
        margin-top: 155px;
        font-size: 30px;
      }
      .navbar{
        padding-right: 10px
      }
      /* .navbar-brand{
        font-size: 40px;
        font-variant-caps: all-small-caps;
        margin: 10px;
        padding: 20px
      } */
    }
    .contactme{
      display: inline-block;
      margin-left: 12px;
    }
