
.dev-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 400px;
    overflow: hidden;
    margin-top: 60%;
    
}
.dev-img .img,
.dev-img .text {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.dev-img .img {
    top: 0;
    left: 0
}
.dev-img:hover .img {
    top: 0;
    left: -100%;
}
/* .dev-img .img img {
    width: 100%;
} */
.dev-img .text {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
.dev-img:hover .text {
    top: 0;
    left: 0%;
}
.dev-img .text h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.dev-img .text p {
    margin: 20px 0 0;
    color: #fff;
}

.card {
    padding: 2% 0 0 0;
    margin: 0; 
    /* text-justify: auto; */
    align-items: center
}
h2 {
    padding:5%;
    
}
h3 {
    margin: 0 0 0;
    color: #49a7cc; 
}

.buttons{
     padding: 7%; 
}

@media screen and (max-width:640px) {

    .dev-img {
        margin: 0 0 95% 0;
        transform: none;
        overflow:visible;

  
    }
    .dev-img .img{
        max-width:calc(100% - 20%);  
        margin: 10% 0 2% -40% ; 
    }
    .dev-img .text {
        position: absolute;
        height: 70%;
        margin: 125% 0 0 -140%;
        padding: 15% 0 0 0;
        max-width:calc(100% - 20%);  
        background-color:#49a7cc; 
        text-align: center;

    }
  }

  @media screen and (max-width:1024px) and (min-width:640px){

  }

  @media screen and (max-width:1400px) and (min-width:1024px){

  }